header video {
	position:relative;
	display: block;
	width: 100%;
	height: 400px;
	object-fit: cover;
}

button{
	position: absolute;
	display:block;
	top: 5%;
	left: 90%;
	border: none;
	background-color: #f47a2a;
	color:#fff;
	margin-right: 60px;
	padding:20px 20px;
	font-size:12px;
	text-align: center;
	text-transform: uppercase;
	white-space: nowrap;
	cursor: pointer;
	/* transform: translate(-50%, -100%); */
}

.site-footer {
	background-color: rgb(69, 63, 63);
	margin: 0;
	/* padding-top: 20px; */
}

.footer-waves{
	width:100%;
	height:auto; 	
	
}


